@import '~antd/dist/antd.css';

.subtitleOfGradePage{
    color: black;
}

.title_profile{
    padding: 3% 5%; 
    text-align: center;
    background-image: linear-gradient(to bottom, white, #F0F8FF);
    /* margin-bottom: 3%; */
}
.profile_tabpane{
    background-color: rgb(251, 255, 248);
    padding-bottom: 300px;
}

.profile_basic{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 4%;
}
.pb_col-1{
    font-size: 30px;
    background-color: rgb(249, 247, 243);
    padding-left: 20px;
}

.Edit_info_but{
    margin-left: 10% ;
}

.ant-select-disabled.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    color: rgba(0, 0, 0, 0.25);
    background: rgba(0, 0, 0, 0.05);
    cursor: not-allowed;
}

.ant-input[disabled] {
    color: rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.05);
    cursor: not-allowed;
    opacity: 1;
}

